# Google Maps API Key - Used for Android only
MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY_HERE

# Set to 'true' to use mock data, 'false' to use live API data
# IMPORTANT , needs a full restart to work not just a reload
USE_MOCK_DATA=true
